/*****************
      DEBUG
*****************/

.debug .container-fluid {
   
    
   
}

.debug header .row {
    
    height:
}

.debug .row > * {
    
}

.debug main .container-fluid {
    height: calc(100vh - 100px);
    background-color: brown;
}

.debug main .row .col-auto {
    background-color: red;
}

.debug main .row .col {
    backg
}

.debug main .row .col .row.top > * {
    background-color: bisque;
    height: 6.25rem;
}

.row.bottom {
    background-color: red;
}