/****************
    MY-STYLE
****************/

/****************
      GENERAL
****************/

header {
      height: 5rem;
}

.col-auto.aside {
      height: calc(100vh - 5rem);
      background-image: url("../img/sidebar-bg.png");
      background-size: cover;
      background-color: #051E34;
}

.col.main-center {
      height: calc(100vh - 5rem);
}

.logo-mobile {
      width: 2.5rem;
}

.logo-class {
      width: 1.875rem;
}

.fa-house, .fa-chart-simple, .fa-signal, .fa-gear {
      width: 1.25rem;
      margin-right: .625rem;
}

/*****************
   HOVER-HEADER
*****************/

header ul li:hover {
      background-color: lightgrey;
      border-radius: .3125rem;
}

/*****************
   HOVER-ASIDE-COL
*******************/

main ul li:hover {
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: .3125rem;
}

/***************
OFF-CANVAS-FORM
****************/

.offcanvas-body .row > * ,.offcanvas-body .form-check {
      margin-bottom: 1.25rem;
}

/*****************
 OFF-CANVAS-QUERY
******************/

@media screen and (min-width: 992px) {

      .offcanvas {
            width: 50%!important;
      }
}

