/****************
    MY-STYLE
****************/

/****************
      GENERAL
****************/

header {
      height: 5rem;
}

.col-auto.aside {
      height: calc(100vh - 5rem);
      background-image: url("../img/sidebar-bg.png");
      background-size: cover;
      background-color: #051E34;
}

.col.main-center {
      height: calc(100vh - 5rem);
}

.logo-mobile {
      width: 2.5rem;
}

.logo-class {
      width: 1.875rem;
}


/***************
OFF-CANVAS-FORM
****************/

.offcanvas-body .row > * ,.offcanvas-body .form-check {
      margin-bottom: 1.25rem;
}

/*****************
 OFF-CANVAS-QUERY
******************/

@media screen and (min-width: 992px) {

      .offcanvas {
            width: 50%!important;
      }
}

